ul{
    font-weight: bold;
    list-style: upper-roman;
    width: 350px;
}

li ul{
    font-weight: normal;
    list-style: lower-roman;
}

div{
    background-color: black;
    color: #00FF00;
}

div.code{
    width: 400px;
    height: 4em;
    white-space: pre;
    overflow: auto;
}